@import "tailwindcss";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #1e293b;
  color: #e5e7eb;
  padding: 0;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
